body {
  margin: 0;
  font-family: 'Arial', 'Helvetica', sans-serif; /* Use a more common sans-serif font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./images/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Enhance readability with a comfortable line-height */
p, h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
}

/* Define a font style for headings */
h1, h2, h3 {
  font-family: 'Georgia', 'Times New Roman', serif;
}

/* Add some space between paragraphs */
p {
  margin-bottom: 16px;
}