/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }
  
  /* Style tab links */
  .tablink {
    background-color: #2c2c2c;
    color: rgb(255, 255, 255);
    float: none; /* Remove the float property */
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 234px;
    font-size: 17px;
    width: 100%; /* Set the width to 100% to fill the container */
    text-align: center; /* Center the text horizontally */
    box-sizing: content-box; /* Ensure padding and border don't affect width */
  }
  
  .tablink:hover {
    background-color: #747474e7;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
  