/* Style for the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2c2c2c;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.tablink:hover .dropdown-content {
  display: block;
}

/* Style the subtab links within the dropdown */
.subtablink {
  color: white;
  padding: 12px 18px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.subtablink:hover {
  background-color: #747474e7;
}

  /* Style for the data table */
  #data-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  #data-table th {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  #data-table td {
    border: 1px solid #ccc;
    padding: 8px;
  }
  
  /* Additional styles can be added as needed */
  